.header {
  background-color: #edeef5;
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 30px;
}

.findInputWrapper {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 25px;
  overflow: hidden;
  justify-content: flex-start;
}

.findInput {
  width: 400px;
  padding: 10px 20px;
  border: none;
  outline: none;
  font-size: 16px;
  border-radius: 25px 0 0 25px;
}

.searchButton {
  background-color: #3a4043;
  border: none;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 0 25px 25px 0;
}

.searchButton:hover {
  background-color: #1b1c1e;
}

.searchIcon {
  color: white;
  width: 20px;
  height: 20px;
}
